@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Links
@model RenderingModel
@{
//var linkUrl= LinkManager.GetItemUrl(item)
}
<header role="banner" style="top:75px">
    <div class="search-icon" id="search-trigger-overlay" onclick="openSearch()">

    </div>
    <div id="myOverlay" class="overlay">
        <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
        <div class="overlay-content">
            <form action="">
                <input type="text" placeholder="Search For.." name="search">
                <button type="submit">Go</button>
            </form>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">



            <nav class="navbar navbar-full">
                <div class="collapse navbar-toggleable-sm" id="mobilenav">
                    <div class="nav-block">
                        <div class="main-nav">
                            <ul>

                                <li class="nav-item hidden-sm-down">
                                    <!-- Possible change here -->
                                    <a href="/" class="logo">
                                        @Html.Sitecore().Field("Logo")
                                    </a>
                                    <!-- /Possible change here -->
                                </li>
                                <!-- BEGIN MAIN NAVIGATION -->

                                @{
                                    Sitecore.Data.Fields.MultilistField NavigationLinks = Model.Item.Fields["Navigation Links"];
                                }

                                @foreach (Sitecore.Data.Items.Item nav in NavigationLinks.GetItems())
                                {

                                    var linkUrl = LinkManager.GetItemUrl(nav);

                                    <li class="nav-item ">
                                        <a href="@linkUrl" class="nav-link dropdown-toggle" id="servicesMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @Html.Sitecore().Field("Heading", nav)
                                        </a>


                                        <div class="dropdown-menu mega-menu" aria-labelledby="servicesMenu">
                                            <div class="menu-title">
                                                <a href="" style="width:100px;max-width:200px;">@Html.Sitecore().Field("Title", nav)</a>
                                            </div>
                                            @{
                                                Sitecore.Collections.ChildList sub = nav.GetChildren();
                                            }
                                            <div class="menu-block">
                                                <ul class="list-unstyled">
                                                    @foreach (Sitecore.Data.Items.Item link in sub)
                                                    {
                                                        var sublinkhref = LinkManager.GetItemUrl(link);
                                                        <li class="mega-menu-item"><a href="@sublinkhref">@Html.Sitecore().Field("Heading", link)</a></li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                                }




                                <!-- END MAIN NAVIGATION -->
                            </ul>
                        </div>

                        @{
                            Sitecore.Data.Fields.MultilistField SiteLinks = Model.Item.Fields["Site Links"];
                        }
                        <!-- BEGIN UTILITY NAVIGATION -->
                        <div class="pull-right utility-nav">
                            <ul>
                                @foreach (Sitecore.Data.Items.Item site in SiteLinks.GetItems())
                                {
                                    var linkUrl = "";
                                    Sitecore.Data.Fields.LinkField site_l = site.Fields["Link"];
                                    if (site_l.LinkType == "internal")
                                    {
                          
                                        linkUrl = LinkManager.GetItemUrl(site_l.TargetItem);
                                    
                                    }
                                    else
                                    {
                                        linkUrl = site_l.Url;
                                    }

                                    <li>
                                        <a href="@linkUrl">@Html.Sitecore().Field("Link Heading", site)</a>
                                    </li>
                                }


                            </ul>
                        </div>
                    </div>
                    <!-- END UTILITY NAVIGATION -->
                </div>
            </nav>

        </div>
    </div>
</header>