@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Links
@model RenderingModel
@{
    //var linkUrl= LinkManager.GetItemUrl(item)
}
<header role="banner" style="top:75px">
    <div class="search-icon" id="search-trigger-overlay" onclick="openSearch()">
        
    </div>
    <div id="myOverlay" class="overlay">
        <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
        <div class="overlay-content">
            <form action="">
                <input type="text" placeholder="Search For.." name="search">
                <button type="submit">Go</button>
            </form>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">

            @*<div class="hidden-md-up mobile-logo">
                    <a href="/">
                        <img src='/-/media/images/header/2015_logo_horiz_notag_png.png?h=48&amp;w=200&amp;la=en&amp;hash=027BD06CD8DDB198562D578D8CAC620DA3E1A626' alt='Perficient Logo' />
                    </a>
                </div>
                <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#mobilenav">
                    <div class="menu-icon">
                        <div class="center-bar"></div>
                    </div>
                </button>*@

            <nav class="navbar navbar-full">
                <div class="collapse navbar-toggleable-sm" id="mobilenav">
                    <div class="nav-block">
                        <div class="main-nav">
                            <ul>

                                <li class="nav-item hidden-sm-down">
                                    <!-- Possible change here -->
                                    <a href="/" class="logo">
                                       @Html.Sitecore().Field("Logo")
                                    </a>
                                    <!-- /Possible change here -->
                                </li>
                                <!-- BEGIN MAIN NAVIGATION -->

                                @{ 
                                    Sitecore.Data.Fields.MultilistField NavigationLinks = Model.Item.Fields["Navigation Links"];
                                }

                                @foreach (Sitecore.Data.Items.Item nav in NavigationLinks.GetItems())
                                {
                                   
                                        var linkUrl = LinkManager.GetItemUrl(nav);
                                   
                                    <li class="nav-item ">
                                        <a href="@linkUrl" class="nav-link dropdown-toggle" id="servicesMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @Html.Sitecore().Field("Title",nav)
                                        </a>


                                        <div class="dropdown-menu mega-menu" aria-labelledby="servicesMenu">
                                            <div class="menu-title">
                                                <a href="" style="width:100px;max-width:200px;">@Html.Sitecore().Field("Title",nav)</a>
                                            </div>
                                            <div class="menu-block">
                                                <ul class="list-unstyled">
                                                    <li class="mega-menu-item"><a href="/services/data">Data</a></li>
                                                    <li class="mega-menu-item"><a href="/services/design">Design</a></li>
                                                    <li class="mega-menu-item"><a href="/services/marketing">Marketing</a></li>
                                                    <li class="mega-menu-item"><a href="/services/operations">Operations</a></li>
                                                    <li class="mega-menu-item"><a href="/services/strategy">Strategy</a></li>
                                                    <li class="mega-menu-item"><a href="/services/technology">Technology</a></li>
                                                    <li class="mega-menu-item"><a href="/services/digital">Perficient Digital</a></li>
                                                    <li class="mega-menu-item"><a href="/services/cloud">Cloud</a></li>
                                                    <li class="mega-menu-item"><a href="/services/optimized-global-delivery">Optimized Global Delivery</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                }
                                
                                


                                <!-- END MAIN NAVIGATION -->
                            </ul>
                        </div>

                        @{
                            Sitecore.Data.Fields.MultilistField SiteLinks = Model.Item.Fields["Site Links"];
                        }
                        <!-- BEGIN UTILITY NAVIGATION -->
                        <div class="pull-right utility-nav">
                            <ul>
                                @foreach (Sitecore.Data.Items.Item site in SiteLinks.GetItems())
                                {
                                    var linkUrl = LinkManager.GetItemUrl(site);
                                    <li>
                                        <a href="@linkUrl">@Html.Sitecore().Field("Title", site)</a>
                                    </li>
                                }
                                
                                
                            </ul>
                        </div>
                    </div>
                    <!-- END UTILITY NAVIGATION -->
                </div>
            </nav>

        </div>
    </div>
</header>