@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<main>
    @Html.Sitecore().Placeholder("Banner")
    @Html.Sitecore().Placeholder("Services")
    @Html.Sitecore().Placeholder("Industries")
    @Html.Sitecore().Placeholder("Tile Component")

    @Html.Sitecore().Placeholder("Community Partners")

    @Html.Sitecore().Placeholder("Our Values")

    @Html.Sitecore().Placeholder("Webinar")

    @Html.Sitecore().Placeholder("More Webinar")

    @Html.Sitecore().Placeholder("Guide")
    @Html.Sitecore().Placeholder("Strategic Partner")

    @Html.Sitecore().Placeholder("Enterprise Partners")
    <section class="hero hero-tabs">
        @Html.Sitecore().Placeholder("Vision")
    </section>
    @Html.Sitecore().Placeholder("Events")
    @Html.Sitecore().Placeholder("Leadership Component")
</main>