@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    Sitecore.Data.Fields.LinkField regi_link = Model.Item.Fields["Link"];
}

    <div class="card-content">
        <div class="event-table">
            <div class="event-row">
                <div class="event-column event-date-heading">
                    <h1>@Html.Sitecore().Field("Date", new { format = "MMMM dd" })</h1>
                    <h2>- @Html.Sitecore().Field("Date", new { format = "MMMM dd, yyyy" })</h2>
                </div>
                <div class="event-column event-details" style="height: 152px;">
                    <div class="event">
                        <h4 class="event-title">
                            <a href="">@Html.Sitecore().Field("Heading") </a>
                        </h4>
                        <h5></h5>
                        <h6>
                            @Html.Sitecore().Field("Date", new { format = "MMMM dd, yyyy" })
                        </h6>
                        <a href="@regi_link.Url" class="btn-event">@Html.Sitecore().Field("Link Heading")</a>
                    </div>
                </div>
                <div class="event-column event-host" style="height: 362px;">
                    @Html.Sitecore().DynamicPlaceholder("Mentors-Top")
                    @Html.Sitecore().DynamicPlaceholder("Mentors-Middle")
                    @Html.Sitecore().DynamicPlaceholder("Mentors-Bottom")
                </div>
            </div>
        </div>
    </div>
