@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    Sitecore.Data.Fields.LinkField banner_link = Model.Item.Fields["Link"];
}
<section class="hero hero-block solid" id="hero-main" style="">
   
    <div class="hero-background-container">
        @Html.Sitecore().Field("Banner Image")
        <div class="hero-caption"><a href="#"></a></div>
    </div>
    <div class="color-container" style="background: no-repeat right bottom/85%;">
        <div class="hero-content">
            <h1 style="color:black">@Html.Sitecore().Field("Heading")</h1>
            <p style="color:black">@Html.Sitecore().Field("Intro")</p>
            <a href="@banner_link.Url" class="btn-hero" style="background:black ">@Html.Sitecore().Field("Link Heading")</a>
        </div>
    </div>
</section>